/* 
Color scheme:
Marigold: #DE9F38
Bronze: #BD812B
PrussianBlue: #1E3251
BlueYonder: #4A75BA
White: #FFFFFF

https://coolors.co/dff2d8-c6dea6-7ebdc3-7a6263-ced097
https://fonts.google.com/specimen/Montserrat?query=Mont&preview.text_type=custom

*/

* {
    margin: 5px;
    
}

h3 {
    text-transform: uppercase;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #1E3251;

  }

/* Head Nav */

nav {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 730px;
    background-image: url("images/craft-courier-delivery.jpeg");
    background-size: cover;

}

nav .bar {
    display: grid;
    grid-template: repeat(1, auto) / 1fr 1fr;
    grid-template-areas: 
        "img nav";
    background-color: hsla(216, 46%, 22%, 0.3);
    height: auto;
    box-shadow: 0px 0px 100px 5px;
    border: 1px solid white;
    
}

.headerlogo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: img;
}

.headerlogo img {
    margin-right: 50px;
}


.headernav {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: nav;

}

.headernav a {
    position: relative;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px;
    font-size: 18px;  
    text-shadow: -2px 2px black;
    
}


.headernav a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DE9F38;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }

  .headernav a:hover::before {
    transform: scaleX(1);
  }


.headtext {
    display: flex;
    flex-basis: 75%;
    align-items: center;
    justify-content: center;
    

}

.headtext h1 {
    color: white;
    text-shadow: -2px 2px black;
    font-size: 40px;
    text-align: center;
    width: 80%;
    
}


/* Section 1 */
.section1 {

    height: auto;
}

.taketobeer {
    text-align: center;
    text-transform: uppercase;
}

button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #DE9F38;
    border-color: #1E3251;
    border-radius: 10px;
    height: 45px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}

button:hover {
    background-color: #4A75BA;
    border-color: #DE9F38;
    border-radius: 10px;
    font-size: 20px;
}

.taketobeer h3 {
    padding: 5px;
}

.howdoesitwork {
    display: grid;
    grid-template: repeat(1, auto) / 1fr 1fr 1fr;
    grid-template-areas: 
        "deliveryzone addbrews relax-and-deliver";
    width: 70%;
    margin: auto;
    height: auto;
    padding-top: 40px;
    padding-bottom: 100px;
}

#deliveryzone {
    grid-area: deliveryzone
}

#addbrews {
    grid-area: addbrews
}

#relax-and-deliver {
    grid-area: relax-and-deliver
}

.instructionbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: auto;
}

.instructionimage{
    display: flex;
    flex-basis: 20%;
}
.instructiontext {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    align-items: flex-start;
}

.instructiontext h5 {
    flex-basis: 20%;
    text-transform: uppercase;
}

.instructiontext p {
    flex-basis: 80%;
    line-height: 1.8;
    font-size: 14px;
}

.zipcodefinder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
    width: 50%;
    border: 3px solid #DE9F38;
    border-radius: 10px;
    
}

.zipcodefinder h3 {
    text-transform: uppercase;
    padding-bottom: 5px;
}

.zipcodefinder form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zipcodefinder p{
    padding-bottom: 20px;
}



/* Section 2 */
.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(217, 45%, 51%, 1.0);
    height: auto;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 40px;
    text-align: left;
}

.love-of-craft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    color: #ffffff
    
}

.love-of-craft img {
    height: 341px;
    width: 214px;
}

.love-of-craft h3 {
    color: #DE9F38;
}

.love-of-craft #owner-text {
    width: 40%;
}

/* Section 3 */
.section3 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    text-align: center;
    
}

.section3 h3{
    display: flex;
    padding: 20px;
    justify-content: center;
    
}

.instagram-posts-container {
    display: flex;
    flex-direction: column;
}

.instagram-posts-container .row {
    display: flex;
    flex-direction: row;
}

.instagram-posts-container .post {
    width: 100%;
    height: 500px;
    

}


  /* Slideshow end */ 

/* KEEP BECAUSE I DID GOOD
.tastiestway {
    display: flex;
    flex-direction: column;
    height: 450px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.27)), 
    url("https://uploads-ssl.webflow.com/5e18f76c778ad80e975f2197/5eb0868b17eff63667edefb4_phone3-compressor.png"), 
    linear-gradient(180deg, rgba(30, 50, 81, 0.64), rgba(30, 50, 81, 0.82));
    background-position: 0px 0px, 50% 50%, 0px 0px;
    background-size: auto, cover, auto;
    background-repeat: repeat, no-repeat, repeat;
    background-attachment: scroll, fixed, scroll;
    justify-content: center;
    align-items: center;
}

.tastiestway h1 {
    width: 35%;
    text-transform: uppercase;
    color: white;
}

*/

/* Section 4 */
.section4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}

.referrals {
    display: grid;
    grid-template: repeat(1, auto) / 1fr 1fr 1fr;
    grid-template-areas: 
        "adiodc sg003 brobb335";
    width: 50%;
    line-height: 1.8;
}

.refbox {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;

}

#adiodc {
    grid-area: adiodc;
}

#sg003 {
    grid-area: sg003;
}

#brobb335 {
    grid-area: brobb335
}






/* Section 5 */
.section5 {
    display: flex;
    height: 295px;
    margin-left: -10px;
    margin-right: -11px;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #ff935c, #fd7063 100%, #fb406c);
    align-items: center;
    justify-content: center;
}

.pinkboxcontainer {
    display: grid;
    grid-template: repeat(1, auto) / 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "independentcommunity breweries states beers";
        
}

.pinkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.istagram-media {
    height: 300px;
    width: 200px !important;
}

.pinkbox img {
    height: 64px;
    width: 64px;
}

#independentcommunity {
    grid-area: independentcommunity;
}

#breweries {
    grid-area: breweries;
}

#states {
    grid-area: states;
}

#beers {
    grid-area: beers;
}





/* Footer */
footer {
    text-align: center;
    background-color: #1E3251;
    color: #DE9F38;
    height: auto;
}

footer img {
    height: 32px;
    width: 32px;
    opacity: 0.3;
}

footer img:hover {
    opacity: 1;
}